# URL publica o local de la app.
VITE_APP_URL="http://localhost:3000"

# Nombre visible de la institucion.
VITE_INSTITUTION_NAME="Instituto Superior Tecnologico Sudamericano"

# Periodo activo de acreditacion.
VITE_ACCREDITATION_PERIOD="2025"
